:root {
  --color-background: #181f26;
  --color-nav: rgb(240, 245, 250);
  --primary-color: rgb(0, 0, 99);
  --color-section-background: #11151b;
  --btn-color-download: #2c6ee6;
  --btn-color-primary: #4CAF50;
  --btn-color-primary-hover: #45a049;
}
#root{
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: var(--color-background);
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 13px;
  background-color: rgb(240, 245, 250);
  border-bottom: 1px solid black;
  z-index: 10;
}
nav div {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
nav div li {
  list-style: none;
  margin-left: 15px;
}
nav div li a {
  opacity: 0.6;
  text-decoration: none;
  font-weight: 600;
  color: rgb(98, 98, 98);
}
nav div li a:hover {
  opacity: 1;
  text-decoration: overline;
  transition: 400ms;
}
.a-active{
  opacity: 1;
  text-decoration: overline;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.content {
  margin: auto;
  margin-top: 7%;
  width: 60%;
  background-color: rgba(15, 22, 33, 0.745);
  padding: 15px;
  border-radius: 10px;
  color: white;
}
.panel-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 20px;
}
.panel-content input{
  width:80%;
}
.panel-content button{

  margin: auto;
  width: 50%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  color: black;
  font-weight: 700;
  margin-top: 10px;

}
.spectral-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.spectral-image img {
  width: 100%;
  border-radius: 10px;
}
.content-info {
  margin: auto;
  margin-top: 9%;
  width: 92%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
section {
  background-color: var(--color-section-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 16px 12px rgba(56, 56, 56, 0.1);
  color: white;
}
section article{
  margin-bottom: 20px;
  padding: 30px;
}
.section-content {
  padding: 10px;
}
.section-content p {
  text-align: justify;
  font-size: 1.3rem;
}

section:first-child .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
section:nth-child(2) .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sections-card{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.sections-card div{
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
}
.sections-card p{
    font-size: 1rem;
}
.instrument-img{
    text-align: center;
}
.instrument-img img{
    width: 90%;
    border-radius:10px;
}
.up-button{
  position: fixed;
  width: 70px;
  text-align: center;
  padding: 3px;
  background-color: white;
  border-radius: 100px;
  bottom: 20px;
  margin-left: 90%;
  z-index: 10;
}
.up-button:hover{
  background-color: #333;
  outline: 1px solid white;
}
.up-button a{
  width: auto;
}
.up-button a:hover{
  color: white  ;
}

.file-count {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Color opcional */
  margin-bottom: 10px;
}
.loading{
  width: 80%;
  margin: auto;
  text-align: center;
}
.result-tif{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.result-tif h3{
  text-align: center;
  margin-bottom: 10px;
}
.result-tif a{
  text-align: center;
}
.result-tif a img{
  text-align: center;
  width: 70%;
}
.result-tif a img:hover{
  border-radius: 25px;
 transition: 400ms;
}
.img-original{
  text-align: center;
  margin-bottom: 10px;
}
.img-original img{
  width: 80%;
}
.img-more{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.img-more h2{
  font-size: 1rem;
}
.img-more div{ 
  text-align: center;
  display: flex;
  flex-direction: column;
}
.img-more div img{
  width: 100%;
}
.imgs-bands{
  text-align: center;
}
.imgs-bands img{
  width: 60%;
  border-radius: 20px;
}
.imgs-bands a{
  display: flex;
  gap: 5px;
  text-decoration: none;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  color: white;
  background-color: var(--btn-color-download);
  padding: 10px;
  border-radius: 20px;
}
.btn-download i{
  font-size: 2rem;
}
.imgs-bands a:hover{
  box-shadow: 0px 1px 1px 0px rgb(249, 249, 249);
  outline: 1px solid white;
  color: black;
  transition: 300ms;
}
.image-source-container{
  padding: 20px;
  margin: auto;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.source-box{
  max-width: 20%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: var(--color-background);
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.source-box:hover {
  background-color: #152035;
  transition: 550ms;
  border-radius: 20px;
  outline: 1px solid white;
}
.source-box:hover span{
  text-decoration: underline;
}
.source-box:hover img{
  border-radius: 20px;
  transition: 500ms;
}

.source-box span{
  color: white;
  

}
.source-box img{
  width: 80%;
}
footer{
  margin-top: 20px;
  padding: 20px;
  display: flex;
  width: 100%;
  background-color: var(--color-nav);
  justify-content: space-around;
  align-items: center;
}
footer:nth-child(2){
  display: flex;
  flex-direction: column;
}
footer div li{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
footer div li a{
  opacity: 0.6;
  text-decoration: none;
  font-weight: 600;
  color: rgb(98, 98, 98);

}
.content-login{
  text-transform: uppercase;
  margin: auto;
  margin-top: 9%;
  background-color: var(--color-section-background);
  width: 30%;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px rgb(199, 199, 199);
}

.form-login{
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 10px;
}
.form-login input{
  padding: 7px;
  border-radius: 5px;
}
.form-login button{
  cursor: pointer;
  border: none;
  margin: auto;
  margin-top: 5px;
  width: 60%;
  padding: 10px;
  background-color: var(--btn-color-primary);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
}
.form-login button:hover{
  background-color: var(--btn-color-primary-hover);
}
.form-login div{
  margin: auto;
}
.content-error{
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 90%;
  background-color: rgba(125, 0, 0, 0.8);
  font-size: 0.5rem;
  border: 1px solid white;
}
.login-content{
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.user-profile{
  background-color: var(--color-background);
  border-radius: 50px;
  padding: 10px;
  border: 3px solid rgb(97, 173, 245);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: white;
}


.user-menu {
  position: absolute;
  top: 110%; /* Se despliega debajo del nombre del usuario */
  right: 8;
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.user-menu p {
  margin: 5px 0;
}
.user-menu .email{
  font-size: 0.7rem;
}

.user-menu hr {
  margin: 10px 0;
  border: 0.5px solid #ddd;
}

.user-menu a, .logout-button {
  display: block;
  color: black;
  padding: 5px 0;
  text-decoration: none;
}

.logout-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
.class-navlink{
  margin-top: 5px;
  padding: 20px;
}
.item-new{
  margin-left: 4px; 
  background-color: rgb(255, 238, 5);
  font-size: x-small;
  padding: 2px;
  border-radius: 12px;
  border: 1px solid var(--color-background);
}.land-cover-container {
  padding: 50px;
}
.land-cover-container h2{
  text-align: center;
  font-size: 2rem;
}
.process-section{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.process-section button{
  padding: 10px;
  font-weight: 700;
  color: white;
  background-color: var(--btn-color-primary);
}
.download-section{
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.download-section button{
  color: white;
  background-color: var(--btn-color-download);
  font-weight: 600;
}
.result-section, .classification-result-section, .luc-result-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
.result-section img{
  margin-top: 20px;
 width: 80%;

}
.luc-result-section img{
  width: 90%;
}
.section-multi-func div p{
  text-align: justify;
}
.text-just {
  width: 70%;
  text-align: justify;
}
.content-band-detection{
  padding: 30px;
}
.content-band-detection h3{
  font-size: 1.5rem;
  text-decoration: double;
}
.content-band-detection p{
  text-align: justify;
}
.content-band-detection ul li{
  margin-top: 10px;
  width: 70%;
  margin: auto;
}
.text-center code{
  text-align: center;
 font-size: 3rem;
}